<footer class="footer">
    <div class="container">
        <div class="columns content">
            <div class="column is-narrow has-text-centered">
                &copy; <%= date(new Date(), 'YYYY') %> <a href="https://www.linkedin.com/in/nitzan-shapira-521291108/" target="blank">Nitzan Shapira</a> and <a href="https://www.linkedin.com/in/ran-ribenzaft/" target="blank">Ran Ribenzaft</a>.
            </div>
            <div class="column is-hidden-mobile"></div>

            <% if (has_config('footer_links')) { %>
            <div class="column is-narrow">
                <div class="columns is-mobile is-multiline is-centered">
                <% for (let name in get_config('footer_links')) { %>
                    <% let link = get_config('footer_links')[name]; %>
                <a class="column is-narrow has-text-black" title="<%= name %>" href="<%= typeof(link) === 'string' ? link : link.url%>">
                    <% if (typeof(link) === 'string') { %>
                    <%= name %>
                    <% } else { %>
                    <i class="<%= link.icon %>"></i>
                    <% } %>
                </a>
                <% } %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ovo|Source+Code+Pro&display=swap">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.5/outdatedbrowser.min.css">
</footer>